/* General style for index.html */

.main-container-app{
    border-radius: 25px;
    box-shadow: 0px 10px 30px 5px hsl(221, 100%, 96%); 
    display: flex;
    flex-direction: row;
    .first-article{
        padding: 40px;
        border-radius: 25px;
        background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        width: 100%;
        max-width: 300px;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        text-align: center;
        .box-result-number{
            border-radius: 100%;
            width: 150px;
            height: 100px;
            padding-top: 25px;
            padding-bottom: 25px;
            background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
            .result-number{
                font-size: 45px;
                font-weight: 800;
            }
            .under-result-number{
                font-weight:500;
                color: hsla(0, 0%, 100%, 0.489);
            }
        }
        .text-under-great{
            color: hsla(0, 0%, 100%, 0.489);
        }
    }

    /* second section of card */
    .second-article{
        padding: 40px;
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .cards-container{
            display:flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .card{
        width: 100%;
        max-width: 220px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 10px;
        padding: 15px;
        .left-part-card{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
    }
    .reaction{
        background-color: hsla(0, 100%, 67%, 0.09);
        i, h4{
            color: hsla(0, 100%, 67%);
        }
    }
    .memory{
        background-color: hsl(39, 100%, 56%, 0.09);
        i, h4{
            color: hsl(39, 100%, 56%);
        }
    }
    .verbal{
        background-color: hsl(166, 100%, 37%, 0.09);
        i, h4{
            color: hsl(166, 100%, 37%);
        }
    }
    .visual{
        background-color: hsl(234, 85%, 45%, 0.09);
        i, h4{
            color: hsl(234, 85%, 45%);
        }
    }

    .span-cards{
        font-weight:800;
    }
}

@media screen and (max-width: 650px){
    .main-container-app{
        display: flex;
        flex-direction: column;
        border-radius: 0px;
        box-shadow: 0px 0px 0px 0px;
        .first-article{
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
        }
        .second-article{
            .cards-container{
                width: 100%;
                .card{
                    width: 100%;
                    max-width: 270px;
                }
            }
        }
    }
    .attribution{
        text-align: center;
        max-width: 280px;
    }
}